# Django
*.sqlite3
__pycache__/
*.py[cod]
db.sqlite3

# Virtual environment
venv/
.env

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Environment variables
.env
*.env

# Python packaging
*.egg-info/
dist/
build/