{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Entry
{% endblock %}

{% block body %}
    <h1>Create New Entry</h1>
    <form action="{% url 'new' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" required style="width: 100%;" value="{{ title|default_if_none:'' }}">
        </div>
        <div style="margin-top: 1em;">
            <label for="content">Content (in Markdown):</label>
            <textarea name="content" id="content" rows="12" required style="width: 100%;">{{ content|default_if_none:'' }}</textarea>
        </div>
        <div style="margin-top: 1em;">
            <input type="submit" value="Create Entry">
        </div>
    </form>
{% endblock %}